/DiscordBot/LeagueOfLegendsInfo.py
/DiscordBot/__pycache__
.DS_Store
.env
.idea/*
/DiscordBot/Commands/__pycache__/*
/kirbec-bot-archive/*
./firebase_config.json/
./firebase_config_live.json/
.python-version
kirbec-bot-firebase-adminsdk-6ki6v-4855d99e0a.json
.vscode/*
untracked_lines.txt
/DiscordBot/main.py
/DiscordBot/firebase_config.py
